.card {
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 17px;
    -webkit-box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}




