footer.sticky-footer {
    padding: 15px 0;
    flex-shrink: 0;
    background: #fffefe;
    border-top: 1px solid #cbd0dd;
    margin-top: 50px;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}