.pagination-wrapper .page-link {
    color: #555;
    font-size: 14px;
}

.pagination-wrapper .page-link:hover,
.pagination-wrapper .page-item.active .page-link {
    background-color: #6f7bd9;
    color: #fff;
    border-color: #6f7bd9;
}

.pagination-wrappe .page-item.active .page-link {
    z-index: 3;
    background-color: #6f7bd9;
    color: #fff;
    border-color: #6f7bd9;
}