.review-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.review-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sub-title {
    font-size: 14px;
    color: #555;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sub-title>p{
    margin-bottom: 0;
}

.review-title h2 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.edit-icon {
    cursor: pointer;
    color: #555;
    border: 1px solid transparent;
    padding: 5px 8px;    
}

.editable-save i {
    color: #198754;
}

.editable-save {
    cursor: pointer;
    color: #555;
    padding: 5px 8px;   
    border: 1px solid transparent;
}

.editable-save:hover {
    border: 1px solid #198754;
    border-radius: 6px;
}

.edit-icon:hover {
    border: 1px solid #cbd0dd;
    color: #555;
    border-radius: 6px;
}

.review-paragraph {
    line-height: 1.5;
}

.review-paragraph>p {
    font-size: 12px;
}

#editModal .modal-dialog .modal-header,
#editFinancialImpacts .modal-dialog .modal-header {
    padding: 7px 15px;
}

#editModal .modal-dialog .modal-header .close,
#editFinancialImpacts .modal-dialog .modal-header .close {
    border: unset;
    background-color: unset;
    height: unset;
    padding: unset;
}

#editModal .modal-dialog .modal-header .close span,
#editFinancialImpacts .modal-dialog .modal-header .close span {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    width: 26px;
    padding: 5px;
    height: 26px;
}

.review-challenge .accordion .review-container .table>tbody>tr>td {
    padding:7px 8px !important;
}

.radio:checked {
    background: green;
    border-color: green;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 2px solid #e2ebf6;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-out;
    border-color: #ccc;
    width: 21px;
    height: 21px;
}

.radio::after {
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.75rem;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
}

.radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: 10px;
    border-width: 2px;
    top: 10px;
}

.row-h-50{
    height: 50px;
}
.row-h-100{
    height: 100px;
}

.header-title{
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
}

.table-nowrap td, .table-nowrap th{
    white-space:nowrap;
}

.contributor-solution-list .table>tbody>tr>td {
padding: 4px 8px;
}

.contributor-solution-list .form-select, .contributor-solution-list .form-control{
    margin-top: 0px;
    height: 34px;
}

textarea.form-control{
    background-color: #f2f2f2;
}