*,
*::before,
*::after {
    box-sizing: border-box;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    overflow-x: hidden;
    width: 100%;
    min-height: calc(100vh - 42px);
    -webkit-box-flex: 1;
    flex-grow: 1;
    /* padding: 20px 30px; */
    margin-top: 40px;
    border-radius: 12px 12px 0px 0px;
    transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sidebar-fixed {}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.navbar {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-between; */
    padding: 8px 15px;
}

.sidebar {
    width: 14rem !important;
    position: fixed !important;
    position: relative;
    z-index: 99;
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
}

#content-wrapper {
    margin-left: 225px;
}

.bg-gradient-primary {
    background-color: #212121;
    /* background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%); */
    background-size: cover;
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
    margin-top: 40px;


}


@media (min-width: 768px) {
    .sidebar {
        width: 14rem !important;
        transition: all 130ms ease-in;
    } 

    .sidebar.toggled {
        overflow: hidden;
        width: 0 !important;
        transition: all 130ms ease-in;
    }

}


.vertical-navbar.sidebar .menu-arrow::after {
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: 150ms ease-in-out;
    content: '';
    position: absolute;
    right: 15px;
}

.vertical-navbar ul {
    list-style: unset;
    list-style-type: unset;
    /* padding-left: 15px; */
}

.menu-parent {   
    color: #ffffff;
    text-align: left;
}
.menu-parent.style2 {
    background: #f77528;
}
.menu-parent.style3 {
    background: #50bd0b;
}
.menu-parent * {
    margin: 0;
    padding: 0;
}
.menu-parent li {
    list-style: none;
}
.menu-parent ul ul {
    display: none;
}
.menu-parent li.active>ul {
    display: block;
}
.menu-parent>ul>li>a {
    position: relative;
    display: block;
    /* background: #003040;
    background: linear-gradient(#003040, #002535); */
    padding: 5px 30px;
    font-size: 14px;
    /* line-height: 4; */
    color: #ffffff;
    text-decoration: none;
}
.menu-parent>ul>li>a>i {
    margin-right: 8px;
    font-size: 14px;
}
.menu-parent ul ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    /* line-height: 4; */
    display: block;
    padding: 5px 0 5px 57px;
    position: relative;
}
.menu-parent ul ul li a:hover {
    background: #003545;
}
.menu-parent ul ul ul {
    background: rgba(0, 0, 0, .1);
    padding: 0;
}
.menu-parent a:not(:only-child):after {
    position: absolute;
    right: 20px;
    content: "\f067";
    top: 3px;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600; /* Use the "Light" version */
}
.menu-parent .active>a:not(:only-child):after {
    content: "\f068";
    top: 3px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600; /* Use the "Light" version */
}
.menu-parent .menu .mm-collapse:not(.mm-show) {
    display: none;
}

.menu-parent .menu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height,visibility
}

.menu-parent .menu .mm-collapsing .mm-show {
    display: block !important;
}