/*Finacel Impects*/

.add-year {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.f-btn-secondary {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.f-btn-secondary:hover {
    background-color: #ff0000;
    color: #fff;
}

.table {
    margin-bottom: 0;
}

.financial-table .table {
    border-radius: 6px;
    border: 1px solid #ccc;
}

.financial-table .table>thead>tr>th {
    /* background-color: #F2F2F2; */
}

.financial-table-header-year {
    text-align: center;
}

.financial-table-cell {
    display: flex;
}

.financial-table-cell>div {
    width: 50%;
    text-align: center;
}


.table {
    font-size: 11px;
    border: 1px solid #ddd;
}

.table>thead>tr>th {
    color: #555;
    font-weight: 500;
    /* background: #dee2e6; */
    border: 1px solid #ddd;
    /* background-color: #6f7bd9; */
    vertical-align: middle;
}

.table>tbody>tr>td {
    border: 1px solid #ddd;
}

#impacts-table .description .info-text p {
    width: 200px;
}



.datatable-top,
.datatable-bottom {
    /* padding: 8px 10px; */
}

.datatable-wrapper.no-footer .datatable-container {
    border-bottom: 1px solid #d9d9d9;
}

.datatable-top {
    /* display: flex;
    justify-content: flex-end;
    gap: 10px; */
    margin-bottom: 20px;

}

.datatable-search {
    position: relative;
}

.datatable-search svg {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 14px;
}

.datatable-top .datatable-filter button,
.datatable-top .datatable-expoert button {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 8px 15px;
    background-color: transparent;
    font-size: 12px;
    color: #555;
}

.datatable-top .datatable-filter button:hover,
.datatable-top .datatable-expoert button:hover {
    border: 1px solid #6f7bd9;
    color: #6f7bd9;
}

.datatable-top .datatable-filter button:hover svg {
    fill: #6f7bd9;
}

.datatable-filter svg,
.datatable-expoert svg {
    width: 14px;
}

.datatable-filter .dropdown .dropdown-menu {
    font-size: 12px;
}

.datatable-filter .dropdown .dropdown-menu>li,
.datatable-filter .dropdown .dropdown-menu>li>label {   
    display: flex;
    align-items: center;
}

.datatable-filter .dropdown .dropdown-menu>li>label {
    padding: 5px;
}

.datatable-filter .dropdown .dropdown-menu>li:hover{
    background-color: #e9e9e9;
}

.datatable-filter .dropdown .dropdown-menu>li>label>input {
    margin-right: 7px;
}

.datatable-top .datatable-search input {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: #fff;
    height: 35px;
}

.filter-list-view {
    display: flex;
    justify-content: space-between;
}

.filter-list-view button.filter-btn {
    width: auto;
}

.filter-btn {
    background-color: none;
    outline: none;
    border: none;
    background: none;
    width: auto;
}

.filter-btn>i {
    color: #ccc;
    font-size: 12px;
}

.table tbody tr:hover {
    background-color: #fee;
}

.table>thead>tr>th {
    padding: 8px 6px;
    font-size: 10px;
    font-weight: 600;
}

.table>thead>tr>th,
.table>tbody>tr>td {
    font-size: 12px;
    line-height: 17px;
}

.table>tbody>tr>td {
    padding: 5px;
    border: 1px solid #ddd;
    padding: 3px 5px;
    line-height: normal;
    height: unset;
    vertical-align: middle;

}

.data-view-list .card-body {
    padding: 8px 15px;
}

.data-view-list .dropdown .dropdown-toggle::after {
    border-left: unset;
    border-right: unset;
}

.card.data-view-list .table-heading h4 {
    font-size: 18px;
    /* font-weight: 600; */
    letter-spacing: 0.6px;
}

.view-list-data {
    table-layout: auto;
}

.view-list-data .data-filter::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    color: #ccc;
    padding-left: 10px;
    border-top: 0;
}

.table.view-list-data>thead>tr>th {
    white-space: nowrap;
}


.disabled-row {
    opacity: 0.5;
    /* You can customize the style for disabled rows */
    pointer-events: none;
}

.disabled-row .form-check-input[type=checkbox] {
    pointer-events: all;
}

.view-list-data.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: unset;
    color: unset;
}

.row-hidden {
    display: none;
}

.expanded-row {
    cursor: pointer;
    text-align: center;
}

.plus-icon::before,
.minus-icon::before {
    content: '+';
    cursor: pointer;
    font-size: 18px;
}

.minus-icon::before {
    content: '-';
    font-size: 18px;
}

.minus-icon {
    display: none;
}

.add-more-row,
.delete-more-row {
    padding: 3px 10px;
    font-size: 12px;
    text-align: center;
    border: unset;
}

.delete-more-row {
    margin-left: 10px;
}

.btn-light {
    background-color: #f3f7f9;
}

.add-more-row>i,
.delete-more-row>i {
    padding-right: 0;
    color: #555;
}

.delete-more-row>i {
    color: #fff !important;
}